<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uplooads</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <h1>Upload Your Files</h1>
        <div class="upload-area" id="upload-area">
            <p>Drag & Drop your files here</p>
            <input type="file" name="ProfileImage" id="profileImage" multiple>
            <input type="file" name="CoverImage" id="coverImage" multiple>
        </div>
        <button type="submit">Upload</button>
    </form>

</body>

</html>